/*注释：这种注释会解析*/
/*1。定义变量  @变量名:值;*/
/*使用变量*/
a {
  color: #e92322;
}
/*定义函数--定义样式*/
/*.addBorderR{
  border-radius: 4px;
  -webkit-border-radius: 4px;
}*/
/*可以传递参数，也可以给参数默认址*/
div {
  width: 200px;
  height: 200px;
  border: 1px solid #e92322;
  border-radius: 2px;
  -webkit-border-radius: 2px;
}
/*嵌套*/
header {
  width: 100%;
  height: 400px;
  background-color: #e92322;
}
header div {
  border-radius: 2px;
  -webkit-border-radius: 2px;
}
header div a {
  text-decoration: none;
}
header div:hover {
  text-decoration: underline;
}
header div > span {
  width: 100px;
}
/*运算符*/
p {
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
